<!-- Footer -->

<footer>
    <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="cell small-1 text-left">
            <div data-sticky-container>
                <div class="sticky" data-stick-to="bottom" data-sticky>
                    <button id="mode" type="button">
                        <i data-feather="moon"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="cell small-6 text-left">
            {% if page.layout == 'post' %}
            Written by
            {% if page.author %}
            <strong>{{- page.author -}}</strong>
            {% elsif page.authors %}
            <strong>{{- page.authors | first -}}</strong> et al.
            {% else %}
            <strong>{{- site.author.name -}}</strong>
            {% endif %}
            {% if page.date %}
            on <strong>{{ page.date | date: "%d %B %Y" }}</strong>.
            {% endif %}
            {% endif %}
        </div>

        <div class="cell small-4 text-right">
            {% if page.layout == 'post' %}
            {{- site.data.messages.copyright.text -}}
            {% endif %}
        </div>
    
        <div class="cell small-1 text-right">
            <a href="#top" data-smooth-scroll>
                <div data-sticky-container>
                    <div class="sticky" data-stick-to="bottom" data-sticky>
                        <button type="button" data-toggle="up">
                            <i data-feather="arrow-up-circle"></i>
                        </button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</footer>
