<!-- Navbar -->

<div class="off-canvas position-left reveal-for-large" id="nav" data-off-canvas data-transition="push">
  <div class="grid-y grid-frame grid-padding-y grid-padding-x">
    <div class="cell shrink">
      <h1>
        {{ site.title }}
      </h1>
    </div>

    <nav class="cell auto">
      <ul class="vertical menu">
        {% for section in site.data.sections %}
        {% assign name = section | first %}
        {% if site.data.sections[name].path %}
        <li>
          <a href="{{ site.data.sections[name].path | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="{{ site.data.sections[name].icon }}"></i>
            <span>{{ name | upcase }}</span>
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <div class="cell shrink">
      {% if site.data.assets.nav.img %}
      <img src="{{ site.data.assets.nav.img | relative_url }}" alt="Site Image">
      {% endif %}
    </div>

    <div class="cell small-2-shrink">
      {{ site.description }}
    </div>
  </div>
</div>
