<!-- Navbar -->

<div class="off-canvas position-left reveal-for-large" id="nav" data-off-canvas data-transition="push">
  <div class="grid-y grid-frame grid-padding-y grid-padding-x">
    <div class="cell small-4">
      <h1>
        {{ site.title }}
      </h1>
    </div>

    <nav class="cell small-6">
      <ul class="vertical menu">
        <li>
          <a href="{{ '/' | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="home"></i>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="{{ '/about' | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="info"></i>
            <span>About</span>
          </a>
        </li>
        <li>
          <a href="{{ '/categories' | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="bookmark"></i>
            <span>Categories</span>
          </a>
        </li>
        <li>
          <a href="{{ '/tags' | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="tag"></i>
            <span>Tags</span>
          </a>
        </li>
        <li>
          <a href="{{ '/archive' | prepend: site.base_url }}" class="hollow button text-left">
            <i data-feather="archive"></i>
            <span>Archive</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="cell small-2">
      <p>{{ site.description }}</p>
    </div>
  </div>
</div>
