<!-- Scripts -->

{% for asset in site.data.assets.head %}
{% assign name = asset | first %}

{% if site.data.assets.head[name].js %}
<script src="{{ site.data.assets.head[name].js | relative_url }}"></script>
{% endif %}
{% endfor %}

{% if page.layout == 'post' %}
<script src="{{ site.data.assets.post.tocbot.js | relative_url }}"></script>
<script src="{{ site.data.assets.post.js | relative_url }}"></script>
{% endif %}

{% if page.math %}
<script src="{{ site.data.assets.post.math.js | relative_url }}"></script>
{% endif %}
