<!-- Scripts -->

{% for asset in site.data.assets.head %}
{% assign name = asset | first %}

{% if site.data.assets.head[name].js %}
<script src="{{ site.data.assets.head[name].js | relative_url }}"></script>
{% endif %}
{% endfor %}

{% if page.layout == 'post' %}
    {% if page.toc %}
    <script async src="{{ site.data.assets.post.tocbot.js | relative_url }}"></script>
    {% endif %}

    {% if page.math %}
    <script src="{{ site.data.assets.post.math.js | relative_url }}"  id="MathJax-script" async></script>
    {% endif %}

    <script async src="{{ site.data.assets.post.js | relative_url }}"></script>
{% endif %}
