---
layout: page
---

{% if page.posts %}
    <h2>Posts from the {{ page.type }} '{{ page.title | default: page.date | date: "%Y" }}'.</h2>
    
    <ul class="no-bullet">
        {% for post in page.posts %}
        <li>
            <a href="{{ post.url | prepend: site.base_url }}">
                <span>{{ post.title }}</span>
                <span class="float-right">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% elsif site.posts %}
    {% for post in site.posts %}
        {% assign year = post.date | date: '%Y' %}

        {% if year != curr_year %}
            {% unless forloop.first %}
            </ul>
            {% endunless %}

            <h2>
                <a href="{{ site.data.sections.archive.path | append: '/' | append: year | prepend: site.base_url }}">
                    {{ year }}
                </a>
            </h2>
            <ul class="no-bullet">
            {% assign curr_year = year %}
        {% endif %}
        <li>
            <a href="{{ post.url | prepend: site.base_url}}">
                <span>{{ post.title }}</span>
                <span class="float-right">{{ post.date | date: "%d %B %Y" }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
