<!DOCTYPE html>

<html lang="{{ site.lang }}">
    {% include head.html %}

    <body>
        <div class="off-canvas-wrapper">
            {% include navigation.html %}

            <div class="off-canvas-content" data-off-canvas-content>
                <article>
                    {% include header.html %}

                    {{ content }}

                    {% include footer.html %}
                </article>
            </div>

            {% include sidebar.html %}
        </div>

        {% include script.html %}
    </body>
</html>
