<!-- Hello -->

<div class="grid-y grid-frame grid-padding-y grid-padding-x">
    <div class="cell shrink text-center">
        {{- site.data.messages.overview.text -}}
    </div>

    <div class="cell auto text-center">
        {% if site.author.gravatar %}
        <img src="{{ site.author.gravatar | prepend: 'https://gravatar.com/avatar/' }}" alt="Author Gravtar">
        {% elsif site.author.picture %}
        <img src="{{ site.author.picture | relative_url }}" alt="Author Picture">
        {% endif %}
    </div>

    <div class="cell small-2-shrink">
        <ul class="menu align-center simple">
            {% for social in site.data.socials %}
            {% assign name = social | first %}
            
            {% if site.author.socials[name].username %}
            <li>
                <a href="{{ site.data.socials[name].url }}/{{ site.author.socials[name].username }}" target="_blank">
                    <i data-feather="{{ site.data.socials[name].icon }}"></i>
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% if site.author.email %}
            <li>
                <a href="{{ site.data.socials.mail.url | append: ':' | append: site.author.email }}" crossorigin="anonymous" target="_blank">
                    <i data-feather="{{ site.data.socials.mail.icon }}"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
