@use 'sass:meta'

@mixin light-mode
    --color: rgb(6, 8, 15)
    --background: rgb(245, 245, 220) url('/assets/external/img/textured-paper.png')
    
    --bar-color: rgb(74, 4, 4)
    --bar-background: rgb(255, 248, 220) url('/assets/external/img/dark-wood.png')

    --hover: rgb(171, 171, 156)
    --header-background: rgb(187, 187, 172)
    --content-background: rgb(203, 203, 188)

    --bar-link-color: rgb(192, 64, 0)
    --quote-color: rgb(0, 0, 139)
    
    --table-background: rgb(240, 240, 215)
    --table-border: rgb(240.75, 240.75, 217)
    --table-row-hover: hsl(60, 45.45%, 87%)
    --table-row-stripe-hover: hsl(60, 45.45%,82%)
    --table-striped-background: rgb(240.75, 240.75, 217)
    --table-head-background: rgb(240.375, 240.375, 216)
    --table-head-row-hover: hsl(60, 45.45%, 87%)
    --table-foot-background: rgb(240.75, 240.75, 217)
    --table-foot-row-hover: hsl(60, 45.45%, 87%)

@mixin dark-mode
    --color: rgb(255, 255, 255)
    --background: rgb(0, 0, 0) url('/assets/external/img/stardust.png')
    
    --bar-color: rgb(218, 165, 32)
    --bar-background: rgb(133, 94, 66) url('/assets/external/img/dark-wood.png')
    
    --hover: rgb(2, 2, 2)
    --header-background: rgb(15, 15, 15)
    --content-background: rgb(58, 58, 58)

    --bar-link-color: rgb(255, 255, 0)
    --quote-color: rgb(173, 216, 230)

    --table-background: rgb(5, 5, 5)
    --table-border: rgb(17.5, 17.5, 17.5)
    --table-row-hover: hsl(0, 0%, 1%)
    --table-row-stripe-hover: hsl(0, 0%, 5%)
    --table-striped-background: rgb(17.5, 17.5, 17.5)
    --table-head-background: rgb(11.25, 11.25, 11.25)
    --table-head-row-hover: hsl(0, 0%, 1%)
    --table-foot-background: rgb(17.5, 17.5, 17.5)
    --table-foot-row-hover: rgb(4.9, 4.9, 4.9)

html, html[data-theme="light"]
    @include light-mode
    @include meta.load-css('../../assets/external/pygments/css/default')

html[data-theme="dark"]
    @include dark-mode
    @include meta.load-css('../../assets/external/pygments/css/monokai')

@media (prefers-color-scheme: dark)
    html, html[data-theme="dark"]
        @include dark-mode
    
    html[data-theme="light"]
        @include light-mode
