$side-width: 256px
$side-height: 600px

#side
    width: $side-width

    .grid-y
        min-height: $side-height

    img
        max-height: 200px
        max-width: 200px
        object-fit: scale-down
        border-radius: 50%
        padding: 8px
        margin: 4px
